.container-video__item_icon-play {
    position: absolute;
    top: 30px;
    left: 30px;
}

@media screen and (max-width: 1024px) {
    .container-video__item_icon-play {
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container-video__item_icon-play {
        width: 42px;
        height: 42px;
        top: 25px;
        left: 25px;
    }
}

@media screen and (max-width: 375px) {
    .container-video__item_icon-play {
        top: 24px;
        left: 24px;
    }
}

@media screen and (max-width: 374px) {
    .container-video__item_icon-play {
        top: 16px;
        left: 16px;
    }
}