.container-video__item_subtitle-1 {
    height: 13px;
    position: absolute;
    top: 280px;
    left: 30px;
    font-family: Inter;
    font-size: 14px;
    line-height: 15px;
    margin: 0px;

    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .container-video__item_subtitle-1{
        font-size: 14px;
        line-height: 15px;
        top: 240px;
        left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container-video__item_subtitle-1{
        font-size: 14px;
        line-height: 15px;
        top: 160px;
        left: 24px;
    }
}

@media screen and (max-width: 374px) {
    .container-video__item_subtitle-1{
        font-size: 14px;
        line-height: 15px;
        top: 160px;
        left: 16px;
    }
}