.intro__text_first {
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    margin: 0px;

    color: #FFFFFF;
}


@media screen and (max-width: 1024px) {
    .intro__text_first {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text_first {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 375px) {
    .intro__text_first {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text_first {
        font-size: 16px;
        line-height: 169.43%;
    }
}