.footer__coppyright {
    margin: 10px 0px 0px 0px;
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    text-align: right;

    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .footer__coppyright {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__links {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}