@import url('../fonts/inter.css');
@import url('../vendor/normalize.css');
@import url('./header/header.css');
@import url('./lead/lead.css');
@import url('./intro/intro.css');
@import url('./photo-grid/photo-grid.css');
@import url('./places/place.css');
@import url('./video/video.css');
@import url('./comments/comments.css');
@import url('./cover/cover.css');
@import url('./footer/footer.css');

.content {
    width: 100%;
    max-width: 1184px;
    margin: 0px auto;
}

a {
    transition: opacity 0.5s ease;
}
a:hover {
    opacity:0.7;
}
